
.body3{
  margin: 0%;
  background-color: white;
  overflow-y: hidden;
  
}
.Home-food{
   height: 88vh;
  background: linear-gradient(
      rgba(240, 240, 240, 0.144),
      rgba(255, 255, 255, 0.336)
    ),
    url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.food {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
  font-family: cursive;
}


ul {
   top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lavender;
    
}

li {
      align-items:end;
        float:left;
    
  }
  
li a {

    padding-left: 10px;
    display: block;
    color:red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: cursive;
  }
  li a:hover{
    color:burlywood;
  }
li .new{
  align-items: center;
}
  .new
  {
    padding-right: 40px;
    font-size: large;
    font-style: italic;
    gap:20%;
    font-weight: 500;
    
  }
  .nav
  {
    align-items: center;
   
  }
  .nex
  {
    
    float:right;
    padding-left: 40px;
    font-size: large;
    align-items: center;
    padding-top: 15px;
    color: red;
    font-family: cursive;
  }
  /* .nex a{
    align-items: center;
  } */
  .le{
    padding-left: 80%;
    
  }
  .le{
    padding-bottom: 50%;
    font-family:cursive;
    font-weight: 500;
    font-size: larger;

  }
  .sp{
    color:red
  }
 .nav1{
  position: fixed;
  width: 100vw;
}