.body1{
    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size:cover;
    
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.container
{

    height: 50vh;
    width: 28vw;
    display: flex;
    /* background-color:lavender; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10px;
    display: flex;
    gap: 1rem;
    border: none;
    border-radius:1rem;
    backdrop-filter: blur(90px);
    border: 2px solid rgb(229, 229, 238); 
    backdrop-filter: blur 50%;
    font-size: larger;
    font-family: cursive;
    box-shadow:
    2.3px 2.3px 1.9px rgba(0, 0, 0, 0.018),
    5.4px 5.4px 4.3px rgba(0, 0, 0, 0.026),
    9.7px 9.7px 7.7px rgba(0, 0, 0, 0.032),
    16.1px 16.1px 12.8px rgba(0, 0, 0, 0.038),
    26.5px 26.5px 21.2px rgba(0, 0, 0, 0.044),
    46.2px 46.2px 37px rgba(0, 0, 0, 0.052),
    100px 100px 80px rgba(0, 0, 0, 0.07)
  ;
   
}
.hh{
    font-size: xx-large;
    font-weight: 1700;
    color: rgb(234, 147, 34);

}
.auth
{
    width: 60%;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 6px;
    
    background-color:rgb(214, 211, 220);
    font-weight: 500;
    gap: 2rem;
    font-family: cursive;
    font-size: large;
    opacity: 70%;
   

}
.auth a{
    align-items: center;
}
.btn
{

    width: 30%;
    padding: 1rem;
    border: none;
    border-radius: 6px;
    background-color: rgb(219, 126, 5);
    font-weight:600;
    color: white;
    font-size: large;
    margin-top: 0.8rem;
    font-family: cursive;

}