*{
    margin:0;
    padding:0;
    text-decoration:none;
}
.contain
{
    display:flex;

}
.main
{
    width:100%;
    padding:30px;
}
.sidebar
{
    background-color:lavender;
    color:burlywood;
    height:100vh;
    font-family: cursive;
    /* width:300px; */
}
.top
{
    display:flex;
    align-items: center;
    padding:20px 15px;
}
.logo
{
    font-size:30px;
}
.bars
{
    display: flex;
    font-size:25px;
    margin-left:30px;
}
.link
{
    display: flex;
    color:red;
    padding:20px 15px;
    gap:15px;
    transition:all 0.5s;
}
.link:hover
{
    background-color:rgb(222, 184, 135);
    color:red;
    transition:all 0.5s;
}
/* .active
{
    background-color:lightskyblue;
    color:#000;
} */
.icon,.link_text
{
    font-size:20px;

}